* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Outfit", sans-serif;
}

main {
  padding: 0 2vw;
  position: relative;
}

header {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  padding: .7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

header h1 {
  font-size: 1.2rem;
  /* color: rgb(228, 86, 34); */
  color: #D4212F;
  align-self: end;
  margin: 0 .2rem;
  padding: .1rem 0;
  font-weight: 600;
  /* rgb(227, 87, 37); */
}

.header-route-arrow-icon {
  position: absolute;
  background: #339c6e;
  color: white;
  border-radius: 50%;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.20));
}

.header-route-arrow-icon:active {
  color: #339c6e;
  background: white;
}

.header-route-arrow-icon {
  right: 0;
  margin-right: .65rem;
}

.header-menu-icon {
  position: absolute;
  /* background: #339c6e; */
  color: #339c6e;
  /* border-radius: 50%; */
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.20));
  left: 0;
  margin-left: .65rem;
}


.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100vw;

  transform: translate(-50%, -50%);
}

.loading-spinner-text {
  font-size: 1.5rem;
  color: #D4212F;
  max-width: 200px;
}

.popup {
  padding: 1rem .35rem;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 70%;
  max-width: 250px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.popup-message {
  color: #2f2527dc;
  font-size: 1rem;
  text-align: center;
}

.popup-button {
  background: #339c6e;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
  margin-top: 1rem;
  border: none;
  color: white;
  padding: .5rem 0;
  border-radius: 4px;
  width: 60%;
}

.popup-icon {
  color: #3f312b;
  padding: 0 .5rem;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: -10%;
  /* transform: translateX(-50%); */
  top: -40%;
}

.header-nav-bar {
  width: 100%;

  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);

  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header-nav-bar.active {
  transform: scale(1, 1);
  transition: transform 350ms ease;
}

.header-nav-bar-list {
  list-style: none;
  text-align: center;
}

.header-nav-bar-list-item {
  font-size: 1.2rem;
  font-weight: 450;
  padding: .5rem .3rem;
  margin-bottom: .6rem;
  cursor: pointer;
  color: #D4212F;
  opacity: 0;
  /* transition: opacity 1s ease; */
}

.header-nav-bar-list-item.active {
  transition: opacity 350ms ease 250ms;
  opacity: 1;
}

.header-user-icon {
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.20));
  margin-right: .65rem;
}