@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --sub-header-color: rgba(0, 0, 0, 0.85);
    ;
    --text-color: rgba(0, 0, 0, 0.8);
}

.food-suplies-container {
    text-align: center;
}

h3 {
    color: var(--sub-header-color);
    font-size: 1.2rem;
}

.food-supluies {
    margin-top: .25rem;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.453); */
    border-bottom: 2px solid #e856624f;
    border-radius: 3px;
    padding: 0 0rem .3rem 0rem;

}

.selected-food-suplies {
    border-bottom: 2px solid #339c6e56;
    height: 32vh;
    min-height: 225px;
    margin-top: .37rem;
    margin-bottom: .2rem;
    border-radius: 3px;
    padding: .3rem .2rem .3rem .2rem;

    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.search-food-suplies {
    width: 100%;
    padding: .9rem 0;
    text-indent: 7px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

    position: relative;
}

.search-food-suplies-container {
    position: relative;
    margin-bottom: .5rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: .4rem;
    color: rgba(0, 0, 0, 0.497);
}

.search-food-suplies::placeholder {
    color: rgba(0, 0, 0, 0.497);
    /* color: #e85662a8; */
    font-size: .9rem;
    text-transform: none;
}


.food-supluies-list-wrapper,
.food-supluies-tpye-list-wrapper,
.selected-food-supluies-list-wrapper {
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.353); */

    overflow: scroll;
}

.food-supluies-list-wrapper,
.food-supluies-tpye-list-wrapper {
    height: 34.7vh;
}

.food-supluies-list-wrapper {
    width: 60%;
}

.food-supluies-tpye-list-wrapper {
    width: 40%;
}

.selected-food-supluies-list-wrapper {
    width: 100%;
    /* max-height: 28.5vh; */
}

.food-supluies-list-container {
    display: flex;
    gap: 0 5px;
    width: 100%;
}

.food-supluies-list,
.selected-food-supluies-list,
.food-supluies-type-list {
    list-style: none;
    text-align: center;
    font-weight: 500;
}

.food-supluies-list,
.food-supluies-type-list {
    height: 100%;
    position: relative;
}

.food-supluies-list {
    width: 100%;
    color: var(--text-color);
}

.food-supluies-list-item,
.food-supluies-type-list-item {
    font-weight: 350;
    text-transform: capitalize;
    width: 100%;
    color: white;
    padding: .55rem 0;
    margin-bottom: .45rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(106, 31, 4, 0.466);

    /* border: 1px solid rgba(230, 77, 22, 0.466); */
}

.food-supluies-list-item {
    background: #e16121;
}

.food-supluies-list-item:active {
    opacity: .8;
}

.food-supluies-type-list-item {
    background: #D4212F;

}

.food-supluies-type-list-item:active {
    opacity: .8;
}

.selected-food-supluies-list {
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
    padding-bottom: .2rem;
}

.selected-food-supluies-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    /* background: #52b00f; */
    /* background: #E6E027; */
    /* background: #56E878; */
    background: #339c6e;
    color: white;
    padding: .6rem .2rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.458);
    min-width: 100px;
    max-width: 120px;
    font-weight: 350;
}

.prepare-recipies-btn {
    background: #D4212F;
    color: white;
    border-radius: 4px;
    width: 80%;
    padding: .7rem 0;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.453);
    font-weight: 500;
    font-size: .98rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

    text-transform: uppercase;
}

.prepare-recipies-btn:active {
    opacity: .7;
    color: white;
}

.food-supluies-text {
    font-size: .95rem;
    color: #D4212F;
    margin: .5rem 0;
    text-align: center;
}

.selected-suplies-text-cotainer {
    color: #339c6e;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    line-height: 32px;
    align-items: center;
    justify-content: center;
}

.selected-suplies-header {
    color: #339c6e;
    margin-bottom: .4rem;
    font-weight: 450;
    font-size: 1.25rem;
}

.selected-suplies-text {
    font-size: 1.15rem;
    max-width: 280px;
    /* line-height: 30px; */
}

.food-suplies-loading-spinner {
    width: min-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-ingredient-image {
    border-radius: 50%;
    position: relative;
    transform: translateX(-250%);
    animation: jump 1s ease forwards 200ms;
}

@keyframes flipx {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes jump {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(15%);
    }

    100% {
        transform: translateX(0%);
    }
}