.recipes-container {
    padding: .7rem .6rem;
}

.recipes-title {
    font-size: 1.7rem;
    font-weight: 500;
    color: #D4212F;
    /* color: #2f2527;; */
    /* color: #FF571B; */
    /* color: #55bf93; */
}

.recipe-card {
    position: relative;
    padding: .5rem .5rem;
    border-radius: 4px;
    color: #2f2527dc;
    margin-top: .7rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
}

.recipe-name {
    /* color: #9e350c; */
    color: #2f2527;
    font-weight: 550;
    max-width: 260px;
    font-size: 1.1rem;
}

.ingredients-container,
.instructions-container {
    margin-top: .65rem;
}

.ingredients-list,
.instructions-list {
    list-style: none;
    font-size: 1rem;
}

.recipe-info-container {
    margin-top: .45rem;
    display: flex;
    gap: 0 7px;
}

.recipe-info-text {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0 3px;
}

.save-recipe-btn {
    border: none;
    border-radius: 4px;
    background: #339c6e;
    color: white;
    width: 100%;
    padding: .6rem 0;
    margin-top: .5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
    font-weight: 450;
    font-size: 1.2rem;
}

.ingredients-header,
.instructions-header {
    color: #339c6e;
    font-size: 1.05rem;
}

.recipes-remove-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: .6rem;
    margin-top: .6rem;
}

.recipe-login-error-text {
    /* text-align: center; */
    color: #D4212F;
    margin-top: .4rem;
    font-size: .85rem;
}

.recipe-login-error-text b {
    margin-left: .1rem;
    font-weight: .9;
    color: inherit;
    text-decoration: underline;
    color: #2f2527dc;
}