.register-container,
.login-container {
    padding: .5rem .7rem .3rem .7rem;
    color: #2f2527;
    /* max-width: 350px; */
}

.form-input-label-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.register-input,
.login-input {
    border-radius: 4px;
    padding: .8rem 0;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    text-indent: 10px;
    font-size: 1rem;
}

.register-input:focus,
.login-input:focus {
    outline: 1px solid #D4212F;
    /* outline: none; */
    /* box-shadow: 1px 1px 2px #ff581bc3; */
    border: none;
}

.register-input::placeholder,
.login-input::placeholder {
    color: #E85662;
    font-size: .8rem;
    font-weight: 500;
}

.register-label,
.login-label {
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: .2rem;
}

.register-title,
.login-title {
    color: #D4212F;
    /* font-size: 2.5rem; */
    font-size: 2.2rem;
    font-weight: 650;
    /* text-align: center; */
    margin-bottom: .7rem;
}

.register-submit-button,
.login-submit-button {
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
    padding: .8rem 0;
    background: #D4212F;
    color: white;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 450;
    text-transform: uppercase;
    width: 100%;

    text-align: center;
}

.login-submit-loading {
    width: min-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.register-submit-button:hover {
    opacity: .9;
}

.register-submit-button:active {
    opacity: .8;
}

.register-input-error-text {
    margin-top: .2rem;
    font-size: .95rem;
    color: #E85662;
}

.login-information-text,
.register-information-text {
    margin: .8rem;
    text-align: center;
}

.login-information-text b,
.register-information-text b {
    cursor: pointer;
    font-size: .95rem;
}

.login-information-text b:hover,
.register-information-text b:hover {
    color: #D4212F;
}

.platform-button {
    text-transform: none;
    color: inherit;
    background: white;
    margin-bottom: 1rem;
    padding: .7rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: 450;
    font-size: 1rem;
}

.register-request-error-text {
    color: #D4212F;
    margin-bottom: .3rem;
}