.user-container {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
}

.user-title {
    color: #D4212F;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-bottom: .1rem;
}

.user-info {
    color: #451d21dc;
    margin: .2rem 0;
}

.user-info.capitalize {
    text-transform: capitalize;
}

.user-update-btn,
.user-confirm-btn {
    width: 100%;
    font-size: .9rem;
    border-radius: 4px;
    border: none;
    /* margin-top: .3rem; */
    padding: .5rem 0rem;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.user-update-btn {
    background: #D4212F;
}

.user-confirm-btn {
    background: #339C6E;
    margin-left: .4rem;
}



.user-input {
    font-family: inherit;
    width: fit-content;
    padding: 0rem 0;
    margin: .1rem 0;
    cursor: pointer;
    text-indent: 5px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35); */
}

.user-input:focus {
    border-bottom: 1px solid #d4213079;
    outline: none
}

.user-input.username {
    width: 40vw;
    text-transform: capitalize;
    color: #D4212F;
    font-size: 1.6rem;
    font-weight: 700;
}

.user-input.email,
.user-input.firstname,
.user-input.lastname {
    font-size: .9rem;
}

.user-input.firstname,
.user-input.lastname {
    text-transform: capitalize;
    width: 23vw;
}

.user-fullname {
    margin-top: auto;
    display: flex;
    gap: 6px;
}

.user-info-container,
.user-input-container,
.user-button-container {
    margin: .8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}